.btn{
    padding: 5px 15px;
    background-color: transparent;
    color: var(--theme-color-secondary);
    border: 1px solid var(--theme-color-secondary);
    border-radius: 20px;
}

.btn:disabled{
    cursor: not-allowed;
    color: #666666;
    background-color: #cccccc;
    border: 1px solid #999999;
}